
### Localization
d-i debian-installer/country string AT
d-i debian-installer/language string de
d-i debian-installer/locale string de_AT.UTF-8
d-i localechooser/preferred-locale string de_AT.UTF-8
d-i localechooser/supported-locales de_AT.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layout select Germany
d-i keyboard-configuration/variant select Germany - Eliminate dead keys
d-i keyboard-configuration/modelcode string pc105
d-i keyboard-configuration/layoutcode string de

### Clock and time zone setup
d-i time/zone string Europe/Vienna
d-i clock-setup/utc boolean true

### Network configuration
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i mirror/country string manual
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-lvm/confirm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

### Base system installation
#d-i base-installer/kernel/image string linux-generic

### Account setup
d-i passwd/user-fullname string vagrant
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true
d-i passwd/auto-login boolean true

### APT setup
d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true
d-i apt-setup/backports boolean true
tasksel tasksel/first multiselect lubuntu-desktop
d-i pkgsel/include string openssh-server build-essential linux-headers-$(uname -r) dkms
d-i pkgsel/upgrade select none
d-i pkgsel/install-language-support boolean true

### Boot loader installation
d-i grub-installer/only_debian boolean true

### Finishing
d-i finish-install/reboot_in_progress note

